<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!-- antd css -->
    <link href="%REACT_APP_CDN_SERVER%/antd/3.26.20-custom.0/antd.css" rel="stylesheet" />

    <!-- polyfill -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/polyfill/1.0.5/polyfill.js"></script>
    <!-- react -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/react/17.0.1/react.development.js"></script>
    <!-- react-is -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/react-is/17.0.1/react-is.development.js"></script>
    <!-- react-dom -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/react-dom/17.0.1/react-dom.development.js"
    ></script>
    <!-- moment -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/moment/2.22.2/moment.js"></script>
    <!-- moment-locale -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/moment/2.22.2/locale.zh-cn.js"></script>
    <!-- use-moment-locale -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/moment/use-locale.js"></script>
    <!-- antd -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/antd/3.26.20-custom.0/antd.js"></script>
    <!-- styled-components -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/styled-components/5.2.1/styled-components.js"
    ></script>
    <!-- history -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/history/4.7.2/history.js"></script>
    <!-- react-router-dom -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/react-router-dom/5.0.0/react-router-dom.js"
    ></script>
    <!-- redux -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/redux/4.0.1/redux.js"></script>
    <!-- redux-saga -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/redux-saga/0.16.2/redux-saga.js"></script>
    <!-- react-router-redux -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/react-router-redux/4.0.8/ReactRouterRedux.js"
    ></script>
    <!-- react-redux -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/react-redux/7.1.0/react-redux.js"></script>
    <!-- redux-actions -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/redux-actions/2.6.4/redux-actions.js"></script>
    <!-- reselect -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/reselect/4.0.0/reselect.js"></script>
    <!-- react-virtualized -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/react-virtualized/9.21.0/react-virtualized.js"
    ></script>
    <!-- react-virtualized-tree -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/react-virtualized-tree/2.0.2/react-virtualized-tree.js"
    ></script>
    <!-- dva-core -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/dva-core/2.0.1/dva-core.js"></script>
    <!-- dva-model-creator -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/dva-model-creator/0.4.3/dva-model-creator.js"
    ></script>
    <!-- immer -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/immer/1.8.0/immer.umd.js"></script>
    <!-- state-container -->
    <script
      crossorigin
      src="%REACT_APP_CDN_SERVER%/state-container/1.1.0/state-container.js"
    ></script>
    <!-- axios -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/axios/0.18.1/axios.js"></script>
    <!-- qs -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/qs/6.9.3/qs.js"></script>
    <!-- systemjs -->
    <script crossorigin src="%REACT_APP_CDN_SERVER%/systemjs/0.21.5/system.src.js"></script>
    <!-- cdn 加载的库设置为 SystemJS 的模块, 这样 SystemJS 加载其他模块(组件)时可以找到这些公共依赖库 -->
    <script>
      <%= systemModules %>
    </script>

    <!--
      Notice the use of % PUBLIC_URL % in the tags above. It will be replaced with the URL of the`public` folder
      during the build. Only files inside the`public` folder can be referenced from the HTML. Unlike "/favicon.ico" or
      "favicon.ico" , "%PUBLIC_URL%/favicon.ico" will work correctly both with client - side routing and a non - root
      public URL. Learn how to configure a non - root public URL by running`npm run build`.
    -->
    <title>{{ projectName }}-components</title>
  </head>

  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root"></div>
    <!--
          This HTML file is a template.
          If you open it directly in the browser, you will see an empty page.

          You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

        To begin the development, run `npm start` or `yarn start`.
        To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>
